#
# This file contains the default configuration options for Dedalus2.
# Copy and modify this file to your own liking.
#
# Dedalus2 will examine the following locations for configuration files,
# from lowest to highest precedence:
#
#   1) The default location:            dedalus2/tools/defaults.cfg
#   2) Your home directory:             ~/.dedalus/dedalus2.cfg
#   3) The current working directory:   ./dedalus2.cfg
#
# Note the expected filenames.
#

[logging]

    # Available levels (in increasing priority):
    #   {debug, info, warning, error, critical}

    # Log level for (rank > 0) processes
    nonroot_level = warning

    # Log level for terminal handler
    stdout_level = info

    # Log level for file handler
    file_level = info

    # Log filename (use 'none' to specify no filehandler)
    filename = none

[transforms]

    # Use FFTW instead of numpy/scipy transforms
    use_fftw = True

[linear algebra]

    # Column permutation option for scipy.sparse.linalg.spsolve
    permc_spec = NATURAL

    # Use UMFPACK in scipy.sparse.linalg.spsolve
    use_umfpack = False
